body {
    padding-left: 100px;
    font-family: sans-serif;
}

#bookmark {
    background-color: #6e808e;
    width: 400px;
    border: 1px solid;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 10px;
    text-align: left;
}

#url a {
    text-decoration: none;
    color:#EBEBEB;
}

#url {
    margin-right: 5%;
    text-align: right;
    border-bottom: 1px solid;
    color: #EBEBEB;
}

#deleteButton {
    margin-left: 80%;
}

#left {
    width: 50%;
    float: left;
}

#right {
    padding-top: 100px;
    width: 50%;
    float: right;
}

#bookmarkTagURL {
    padding-left: 10%;
}