body{
    padding-left: 100px;
}

#bookmark{
    background-color:#b0c4de;
    width: 400px;
    border:2px solid;
    border-radius:25px;
    padding-left: 10px;
    text-align: left;
}

#deleteButton{
    text-align: left;
}