@()

@import helper._
@import helper.twitterBootstrap._

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")" />



@main("Bookmark Manager") {
       <div id="choice">
           <h1>Your choice!</h1>
           <div id="left"><div id="textNew">
               <a href="@routes.Application.bookmark()">New Bookmark</a>
           </div> </div>
           <div id="right">
               <div id="textAll">
                   <a href="@routes.Application.bookmarks()">All Bookmarks</a>
               </div>
           </div>
       </div>
}